html{
    font-family: 'poppins';
}
.section1 {
    display: flex;
    margin-top: -5px;
}
#logo {
    display: flex;
    font-style: italic;
    margin: 20px;
}
span {
    color: #F6B400;
}
#navbar {
    display: flex;
    margin-left: 20%;
    list-style: none;
    margin-top: 30px;
}
#navbar li{
    padding: 0 35px;
    margin-top: 15px;
    margin-left: 50px;
}
.header {
    background-image: -webkit-linear-gradient(160deg,#F6B400 50%, white 50%);
    height: 650px;
}
